## SQL TRAVEL APP

## How would I store data in a travel app using SQL ?

I decided to create an app to list down all the locations where I want to travel one day. I thought the data should have climate as well along with the location, so I can go prepared in all ways.

I will be using SQL to store the data and to make queries using ipython-SQL in Jupyter Notebook.

In [1]:
#importing the necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## To install i-python SQL simply run this command

In [2]:
!pip install ipython-sql

/usr/bin/sh: 1: pip: not found

### Loading the SQL module

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## Creating a connection string to connect to the Database

In [12]:
%sql sqlite://



# Time to create a table and add data to it!

I am naming my table as travel_spots and then inserting data into it.

In [19]:

%%sql 

CREATE TABLE travel_spots (
    id INTEGER PRIMARY KEY,
    country TEXT,
    climate TEXT);
    


INSERT INTO travel_spots (country, climate) VALUES
    ("Ecuador", "Humid Subtropical");
INSERT INTO travel_spots (country, climate) VALUES
    ("Germany", "Temperate Seasonal");
INSERT INTO travel_spots (country, climate) VALUES
    ("Costa Rica", "Tropical");
INSERT INTO travel_spots (country, climate) VALUES
    ("Spain", "Mediterranean");
INSERT INTO travel_spots (country, climate) VALUES
    ("Bali", "Tropical");

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

### Let's see the whole data that I just inserted.

In [20]:
%%sql
SELECT * FROM TRAVEL_SPOTS

 * sqlite://
Done.

[(1, 'Ecuador', 'Humid Subtropical'),
 (2, 'Germany', 'Temperate Seasonal'),
 (3, 'Costa Rica', 'Tropical'),
 (4, 'Spain', 'Mediterranean'),
 (5, 'Bali', 'Tropical')]

### Let's just see only the Countries from the table.

In [22]:
%%sql 
SELECT COUNTRY FROM TRAVEL_SPOTS

 * sqlite://
Done.

[('Ecuador',), ('Germany',), ('Costa Rica',), ('Spain',), ('Bali',)]

### Great !

#### We might need to assign the query to a DataFrame to do further analysis.

#### Let's do that. First I make a query of all the climates in the table.

In [23]:
%%sql 
SELECT CLIMATE FROM TRAVEL_SPOTS

 * sqlite://
Done.

[('Humid Subtropical',),
 ('Temperate Seasonal',),
 ('Tropical',),
 ('Mediterranean',),
 ('Tropical',)]

#### Cool ! Now we have to store this query to a variable first before converting it to a dataframe.

In [24]:
result = _

In [25]:
#jupyter notebook let's us save the output of the previous cell to a variable

In [26]:
#let's see the type of result. 
type(result)

sql.run.ResultSet

#### Now let's convert it to a pandas DataFrame.

In [27]:
climate_df= result.DataFrame()

In [28]:
#let's have a look at the climate_df
climate_df

              climate
0   Humid Subtropical
1  Temperate Seasonal
2            Tropical
3       Mediterranean
4            Tropical

#### Cool ! Now this enables us to do analysis and explore the data.

In [40]:
#let's see how many times each climate occurs.
climate_df.value_counts()

climate
Tropical              2
Temperate Seasonal    1
Mediterranean         1
Humid Subtropical     1
dtype: int64

## Great! That brings us to the end of this notebook. Now you can run SQL queries from your jupyter notebook and do further analysis! All the best.